!!!
html
	head
		title= title
		link(rel='stylesheet', media='screen and (min-width: 500px)', href='/stylesheets/style.css')
		link(rel='stylesheet', media='screen and (max-width: 500px)', href='/stylesheets/small.css')
		link(rel='stylesheet', href='/stylesheets/jquery.rating.css')
		link(rel='apple-touch-icon-precomposed', href='images/icon.png')
		script(src='http://code.jquery.com/jquery-1.6.1.min.js')
		script(src='/scripts/jquery.rating.js')
		script(src='/scripts/script.js')

	body!=body