div#header
	h1
		span#logo
			img(src="images/logo.png")
		= title
		span#logo
			img(src="images/logo.png")
			
div#all_ties_info
	p Upload Successful
	<img class="tie_img" src="#{tie.attributes.imageurl}" / >


div#wrap
	div.link
		a#btn_all_ties(href="/all_ties") Return to List
	
div#footer
	p Semester in Innovation - 2012