div#header
	h1
		span#logo
			img(src="images/logo.png")
		= title
		span#logo
			img(src="images/logo.png")
			
div#all_ties_info
	p Upload an image of a tie to add it to the site

	
div#wrap
	script (type='text/javascript')
		function validateForm()
		{
		var x=document.forms["uploadform"]["name"].value;
		var y=document.forms["uploadform"]["upload"].value;
		var ext = y.substring(y.lastIndexOf('.') + 1);

		if (x==null || x=="")
			{
			alert("Tie name must be filled out");
			return false;
			}
		if (y==null || y=="")
			{
			alert("Please select a picture to upload");
			return false;
			}
		if(ext != "jpeg" || ext != "jpg" || ext != "png")
		{
			//alert("Please upload JPG or PNG only");
			return true;
			}
			
	
		
		}

	div#upload_form
		p
			<form name="uploadform" action="/upload_success" enctype="multipart/form-data" method="post" onsubmit="return validateForm()">
		p
			span Tie Name: 
				<input id="textfield" type="text" name="name">
		p
			<input type="file" name="upload" multiple="multiple">
		p
			<input id="submit" type="submit" value="Submit Tie" />
		</form>

		
div#wrap
	div.link
		a#btn_all_ties(href="/all_ties") Return to List
	
div#footer
	p Semester in Innovation - 2012