/* CSS resets */
* {
	margin: 0;
	padding: 0;
}

/* body, wrap, header, footer */
body {
	background-color: #EDEEEF;
	font-family: Helvetica, Arial, sans-serif;
}

#wrap {
	padding-top: 0px;
	margin: 0 auto;
}

#header {
	padding: 10px;
	text-align: center;
	background-color: #37404c;
	color: white;
}

#footer {
	position:absolute;
	top: 620px;
	padding:0px;
	width: 100%;
	height: 94px;
	text-align: center;
	color: white;
	background-image:url('/images/footer_gradient.png');
	background-repeat:repeat-x;
}

a {
	color: #00B7FF;
}

span#logo {
	float: center;
	margin-right:10px;
	margin-left:10px;
}

div#portrait {
	position: absolute;
	right: 0;
	bottom: auto;
	margin-top: 10px;
	z-index: -1;
}


li {
	margin-left: 15px
}

p, a, h2 {
	margin: 10px 0px;
}


div#info {
	background-color: rgba(175,105,140,0.5);
	width: 50%;
	margin: 15px 15px;
	padding: 15px 15px 15px 15px;
	font-size: 15px;
	text-decoration: none;
	box-shadow: 0px 2px 4px 0px #ccc;
}

div#all_ties_info {
	background-color: rgba(175,105,140,0.5);
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	font-size: 15px;
	text-decoration: none;
	box-shadow: 0px 2px 4px 0px #ccc;
}
div#all_ties_info p{
	display: inline;
	color: white;
	
}

div.link{
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

a#btn_all_ties {
	color: white;
	text-align: center;
	padding: 12px;
	background-color: #ae6a8f;
	width: 200px;
	height: 35px;
	margin: 10px;
	font-size: 20px;
	text-decoration: none;
	box-shadow: 0px 2px 4px 0px #ccc;
}

a#btn_all_ties:hover {
	background-color: white;
	color: #ae6a8f;
	box-shadow: 0px 1px 2px 0px #ccc;
}

img.tie_img{  
	border: 10px white solid; 	
	box-shadow: 0px 2px 4px 0px #ccc;  
	width: 100px; 
	height: 100px;
}

span.name, span.rating span.vote {
	    display: block;
}

ol {
	list-style: none; 
	margin-left: 0
}

ol li{
	margin: 0px;
	padding: 20px;
	display: inline;
}

ol#ties{
	margin-top: 30px; 
	list-style: none; 
	margin-left: 0
}
ol#ties li{
	margin: 0px;
	padding: 20px;
	display: inline;
	float: left;
	width: 120px; 
	height: 250px;
}
	
ol li span {
	font-size: small;
}

form {
	font-size: small;
}

input {
	border: 0px;
	font-size: .7em;
}

input:hover{
	background-color: white;
}

span.norating{
	line-height: 30px;
	vertical-align: text-bottom;
}
span.showrating{
	font-size: x-large;
	font-weight: bold;
	line-height: 30px;
	
}

span.showrating:hover{
	color: #AE6A8F;
}

div#randomimage {
	float: left;
	margin: 5px;
	
}

div#randomvote{
	background-color: rgba(175,105,140,0.5);
	margin: 15px;
	height: 133px;
	width: 300px;
	box-shadow: 0px 2px 4px 0px #ccc;
}

div#upload_form {
	text-align: center;
	background-color: white;
	width: 200px;
	padding: 15px;
	margin: 0 auto;
	box-shadow: 0px 2px 4px 0px #ccc;
}


input#textfield {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

input#submit {
	color: white;
	text-align: center;
	display: block;
	background-color: #ae6a8f;
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
	box-shadow: 0px 2px 4px 0px #ccc;
}

input#submitvote {
	color: white;
	text-align: center;
	background-color: #ae6a8f;
	width: 40px;
	margin: 0 auto;
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
}

input#submitvote:hover {
	color: white;
	text-align: center;
	background-color: #37404c;
	width: 40px;
	margin: 0 auto;
	padding: 2px;
	font-size: 12px;
	text-decoration: none;
}

span#formitem {
	margin: 5px;
}


form#search {
	font-size: large;	
	float: right;
	display: inline;
}

form#search button{
	margin-left: 10px;
	
}

